<style>
body{
    display: flex;
    justify-content: center; /* Centraliza na horizontal */
    align-items: center;     /* Centraliza na vertical */
    height: 100vh;
    margin: 0;
    background: black;
}

h1{
    color: red;       /* Cor do texto */
    font-size: 50px;
}
</style>